.report-card-container {
    /* height: 200px; */
    /* margin: 0 0.5rem; */
    /* padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
}

.report-flechas-span {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.report-flechas-span > img {
    fill: var(--desperfectos); 
}