.report-card-container {
    /* height: 200px; */
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.report-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.report-info {
    margin-bottom: 1rem;
}

.report-footer {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.report-flechas-span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.users-icon-span {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: center;
}
/* .report-flechas-span > img {
    fill: var(--desperfectos); 
} */

p {
    margin: 0;
    text-align: left;
    font-size: 0.7em;
}
b {
    margin: 0;
    text-align: left;
}